body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(R37eeed6836a86a9d3d23deaebefccd58.jpeg);
    background-size: cover;
    font-family: century Georgia, 'Times New Roman', Times, serif;
}
.title{
    margin: 100px;
    color: #fff;
}
.title h1{
    font-size: 32px;
    line-height: 10px;
}
.title h2{
    font-size: 16px;
}
form{
    margin-top: 50px;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-family: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background-color: #ff5722;
    border-color:transparent;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2ps;
    height: 50px;
    margin-top:20px;
    transition: 0.4s ease;
}
form .submit:hower{
    background-color: #f44336;
    cursor: pointer;
}